.banner__inner {
  background-image: url(../img/banner_bg01.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
  padding: 120px 0;
  color: #fff;
}
.banner__inner .title {
  font-size: 50px;
  line-height: 1;
  font-weight: 500;
  margin-bottom: 21px;
  color: #000;
}
.banner__inner .desc {
  font-size: 30px;
  line-height: 1.5;
  font-weight: 400;
  color: #000;
}
.banner__inner .desc a {
  display: block;
  color: #fff;
}
.banner__inner .small {
  font-size: 16px;
  text-decoration: underline;
}
